// layout

html {
  height: 100%;
  min-width: 320px;
  background: $color-slate-700;
}

// Layout
.layout {
  position: relative;
  overflow-y: scroll;
  height: 100%;
  background: $color-slate-600;
  color: $color-slate-100;
}


// Header
.layout__header {
  position: relative;
  z-index:5;
  height: 64px;
  width: 100%;
  padding: 0 16px;
  margin: 0 0 -2px;
  background: $color-slate-400;
  box-shadow: inset 0 -2px 0 $color-fluro-purple;
}

// Banner
.layout__banner {}


// Footer
.layout__footer {
  height: 400px;
  width: 100%;
  padding: 0 16px;
  background: $color-slate-400;
  overflow: hidden;
}




.layout__section {
  padding: 64px 16px;
}


.layout__section--dark {
  background: $color-slate-800;
}



// triangle background.
// requires two containers for child elements
// - content element
// - background canvas element stretched with positioning

.layout__triangles {
  padding: 0 16px;
  position: relative;
  background: linear-gradient(to right, #00B9F7, #8D3BFC);
  background: linear-gradient(to right, #471d80, #8D3BFC);
  border-top: 2px solid $color-fluro-purple;
  border-bottom: 2px solid $color-fluro-purple;
}

.layout__triangles-content {
  position: relative;
  z-index: 5;
}
.layout__triangles-canvas {
  position: absolute;
  z-index: 0;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}
