/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

html {
  background: black; }

.clearfix:after {
  content: '';
  display: block;
  clear: both; }

.noselect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

.center {
  margin: 0 auto;
  max-width: 1120px; }

.center--1400 {
  max-width: 1400px; }

.center--1200 {
  max-width: 1200px; }

.center--1120 {
  max-width: 1120px; }

.center--960 {
  max-width: 960px; }

.center--800 {
  max-width: 800px; }

.center--640 {
  max-width: 640px; }

.center--540 {
  max-width: 540px; }

.center--480 {
  max-width: 480px; }

::-ms-clear {
  width: 0;
  height: 0; }

::-ms-reveal {
  width: 0;
  height: 0; }

::selection {
  color: white;
  background: #D11A58;
  /* WebKit/Blink Browsers */ }

html {
  font-size: 62.5%; }

body {
  font-size: 14px;
  font-size: 1.4rem;
  font-family: "Open Sans", Open-Sans, helvetica, arial;
  line-height: 1.2;
  color: #424242;
  text-rendering: optimizeLegibility; }

body,
input,
button {
  -webkit-font-smoothing: antialiased; }

h1 {
  font-size: 28px;
  font-size: 2.8rem; }

h2 {
  font-size: 24px;
  font-size: 2.4rem; }

h3 {
  font-size: 20px;
  font-size: 2rem; }

h4 {
  font-size: 16px;
  font-size: 1.6rem; }

h5 {
  font-size: 14px;
  font-size: 1.4rem; }

@media (max-width: 720px) {
  h1, .alpha {
    font-size: 32px;
    font-size: 3.2rem; }
  h2, .beta {
    font-size: 24px;
    font-size: 2.4rem; }
  h3, .gamma {
    font-size: 18px;
    font-size: 1.8rem; }
  h4, .delta {
    font-size: 16px;
    font-size: 1.6rem; }
  h5, .epsilon {
    font-size: 16px;
    font-size: 1.6rem; }
  h6, .zeta {
    font-size: 16px;
    font-size: 1.6rem; } }

h1, h2, h3, h4, h5, h6 {
  line-height: 1.2;
  font-family: "Open Sans", Open-Sans, helvetica, arial; }

em,
.text-italic {
  font-style: italic; }

strong,
.text-bold {
  font-weight: 600; }

a {
  text-decoration: none;
  -webkit-tap-highlight-color: transparent; }

.link-primary {
  color: #00B9F7;
  text-decoration: none;
  -webkit-tap-highlight-color: transparent; }
  .link-primary:hover, .link-primary:active {
    text-decoration: underline; }
  .link-primary:hover {
    color: #0094C5; }
  .link-primary:active {
    color: #006F94;
    text-decoration: underline; }

.text-center {
  text-align: center; }

.text-right {
  text-align: right; }

.text-left {
  text-align: left; }

.text-italic {
  font-style: italic; }

.text-break {
  -ms-word-break: break-all;
  word-break: break-word;
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  hyphens: auto; }

.text-ellipsis {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  display: block; }

.text-green {
  color: #00CE69 !important; }

.text-blue {
  color: #0081AC !important; }

.text-pink {
  color: #D11A58 !important; }

.text-grey {
  color: #424242 !important; }

.text-white {
  color: white !important; }

.text-white--80 {
  color: rgba(255, 255, 255, 0.8); }

img {
  display: block;
  margin: 0 auto;
  max-width: 100%;
  height: auto; }

code {
  font-family: consolas, monaco, courier, "courier new";
  line-height: inherit;
  font-size: 14px;
  font-size: 1.4rem; }

pre {
  display: block;
  background: #E0E0E0;
  border-radius: 4px;
  font-family: consolas, monaco, courier, "courier new";
  padding: 24px; }
  pre code {
    padding: 2px 0 !important;
    display: block !important; }

noselect,
.noselect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

nowrap,
.nowrap {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis; }

.hide {
  display: none; }

.typography {
  font-family: "Open Sans", Open-Sans, helvetica, arial;
  font-size: 17px;
  line-height: 1.4; }
  .typography a {
    color: #E91E63;
    text-decoration: underline; }
    .typography a:hover {
      color: #BA184F; }
    .typography a:active {
      color: #8B123B; }
    .typography a:visited {
      color: #E91E63; }
  .typography p {
    line-height: 1.6;
    margin: 8px 0 20px;
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    hyphens: auto;
    color: #616161; }
    .typography p:first-child {
      margin-top: 0; }
  .typography ol {
    list-style: decimal; }
  .typography ul {
    list-style: disc; }
  .typography ul, .typography ol {
    margin: 8px 0 24px;
    padding: 0 0 0 20px; }
  .typography h1 {
    margin: 32px 0 16px;
    font-size: 28px; }
  .typography h2 {
    margin: 24px 0 12px;
    font-size: 24px; }
  .typography h3 {
    margin: 24px 0 8px;
    font-size: 20px; }
  .typography h4 {
    margin: 24px 0 8px;
    font-size: 16px; }
  .typography h5 {
    margin: 16px 0 0; }
  .typography h6 {
    margin: 16px 0 0; }
  .typography h1, .typography h2, .typography h3, .typography h4, .typography h5, .typography h6 {
    font-weight: bold;
    line-height: 1.2; }
    .typography h1:first-child, .typography h2:first-child, .typography h3:first-child, .typography h4:first-child, .typography h5:first-child, .typography h6:first-child {
      margin-top: 0; }
  .typography code {
    display: inline-block;
    word-break: keep-all;
    padding: 2px 4px;
    line-height: 16px;
    border-radius: 3px;
    background: #E0E0E0; }
  .typography img {
    max-width: 100%;
    display: block; }
  .typography blockquote {
    margin: 24px 0; }

.typography p:last-child,
.typography a:last-child,
.typography h4:last-child,
.typography ul:last-child,
.typography ol:last-child {
  margin: 0; }

.typography--large {
  font-size: 18px; }

@font-face {
  font-family: 'Flaticons Stroke';
  src: url("../fonts/flaticons-stroke/flaticons-stroke.eot");
  src: url("../fonts/flaticons-stroke/flaticons-stroke.eot?#iefix") format("embedded-opentype"), url("../fonts/flaticons-stroke/flaticons-stroke.woff") format("woff"), url("../fonts/flaticons-stroke/flaticons-stroke.ttf") format("truetype"), url("../fonts/flaticons-stroke/flaticons-stroke.svg#flaticons-stroke") format("svg"); }

@font-face {
  font-family: 'Flaticons Social';
  src: url("../fonts/flaticons-social/flaticons-social.eot");
  src: url("../fonts/flaticons-social/flaticons-social.eot?#iefix") format("embedded-opentype"), url("../fonts/flaticons-social/flaticons-social.woff") format("woff"), url("../fonts/flaticons-social/flaticons-social.ttf") format("truetype"), url("../fonts/flaticons-social/flaticons-social.svg#flaticons-social") format("svg"); }

.social-icon:before {
  font-family: 'Flaticons Social'; }

.icon:before {
  font-family: 'Flaticons Stroke'; }

.icon:before,
.social-icon:before {
  line-height: 1;
  display: block;
  vertical-align: middle;
  text-align: center;
  font-weight: normal !important;
  font-style: normal;
  -webkit-font-smoothing: antialiased; }

.facebook-icon:before {
  content: '\e7d0'; }

.twitter-icon:before {
  content: '\e7d1'; }

.pinterest-icon:before {
  content: '\e7d5'; }

.googleplus-icon:before {
  content: '\e7d9'; }

.icon--16,
.icon--16:before {
  display: block;
  width: 16px;
  height: 16px;
  font-weight: normal;
  line-height: 16px;
  text-align: center; }

.icon--folder:before {
  content: '\e3fc'; }

.icon--folder-open:before {
  content: '\e402'; }

.icon--folder-out:before {
  content: '\e403'; }

.icon--chevron-up:before {
  content: '\e5a8'; }

.icon--chevron-down:before {
  content: '\e5a9'; }

.icon--chevron-left:before {
  content: '\e5aa'; }

.icon--chevron-right:before {
  content: '\e5ab'; }

.icon--shape {
  width: 16px;
  border: 2px solid #00B9F7;
  border-radius: 2px;
  padding: 2px; }
  .icon--shape:before {
    content: '';
    display: block;
    width: 8px;
    height: 8px;
    background: #00B9F7; }

.icon--undo:before {
  content: '\e499'; }

.icon--redo:before {
  content: '\e49b'; }

.icon--tick:before {
  content: '\e49b'; }

.icon--cross:before {
  content: '\e49b'; }

.icon--refresh:before {
  content: '\e58b'; }

html {
  height: 100%;
  min-width: 320px;
  background: #272C34; }

.layout {
  position: relative;
  overflow: hidden;
  height: 100%;
  padding: 72px 0;
  background: #272C34;
  color: #F5F5F5; }

.layout__header {
  position: absolute;
  z-index: 10;
  top: 0;
  left: 0;
  width: 100%;
  height: 72px;
  background: #1D2127; }

.layout__footer {
  position: absolute;
  z-index: 10;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 72px;
  background: #1D2127; }

.layout__layers {
  position: absolute;
  z-index: 5;
  top: 0;
  left: 0;
  padding: 72px 0;
  width: 800px;
  height: 100%;
  background: #272C34; }

.layer {
  position: relative;
  padding: 64px 0;
  height: 100%;
  border-right: 1px solid #1D2127; }

.layer__header-detail {
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 64px;
  border-right: 1px solid #1D2127; }

.layer__header-timeline {
  position: absolute;
  top: 0;
  left: 50%;
  width: 50%;
  height: 64px; }

.layer__content {
  position: absolute;
  top: 64px;
  bottom: 64px;
  left: 0;
  width: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  overflow: hidden;
  border-top: 1px solid #1D2127;
  padding: 16px 0; }

.layer__timeline {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 64px;
  width: 100%;
  border-top: 1px solid #1D2127;
  background: #313742; }

.layer-header__detail,
.layer-header__timeline {
  float: left;
  width: 50%; }

.layer-header__timeline {
  border-left: 1px solid #1D2127; }

.header-detail {
  position: relative;
  height: 64px;
  color: #F5F5F5;
  padding: 20px 24px; }

.header-detail__title {
  color: #F5F5F5;
  font-size: 14px;
  line-height: 24px;
  font-weight: bold; }

.header-detail__edit {
  position: absolute;
  top: 0;
  right: 0;
  padding: 16px 24px; }

.header-timeline {
  padding: 16px 24px; }

.header-timeline__timeline {
  float: left;
  width: 50%;
  padding: 0 4px 0 0; }

.header-timeline__animations {
  float: left;
  width: 50%;
  padding: 0 0 0 4px; }

.layer-control {
  cursor: pointer;
  position: relative;
  background: #272C34; }
  .layer-control:hover {
    background: #313742; }
  .layer-control:active {
    background: #2C313B; }

.layer-control__item {
  border-right: 1px solid #1D2127;
  width: 50%; }

.layer-control__timeline {
  position: absolute;
  top: 0;
  right: 0;
  height: 48px;
  width: 50%; }

.layers-item {
  padding: 12px 24px;
  line-height: 24px;
  height: 48px; }

.layers-item--indent-0 {
  padding-left: 24px; }

.layers-item--indent-1 {
  padding-left: 40px; }

.layers-item--indent-2 {
  padding-left: 56px; }

.layers-item--indent-3 {
  padding-left: 72px; }

.layers-item--indent-4 {
  padding-left: 96px; }

.layers-item--indent-5 {
  padding-left: 112px; }

.layers-item--indent-6 {
  padding-left: 128px; }

.layers-item__chevron,
.layers-item__empty,
.layers-item__symbol {
  float: left;
  width: 16px;
  height: 24px;
  margin: 0 16px 0 0;
  padding: 4px 0;
  color: #9DA6B0; }

.layers-item__text {
  float: left;
  color: #9DA6B0;
  font-weight: bold; }

.layers-item__animation {
  float: right;
  width: 16px;
  height: 24px;
  padding: 4px 0; }

.layers-item__chevron {
  color: #9E9E9E; }

.layers-item__symbol {
  color: #00B9F7; }

.layers-item__animation {
  color: #9E9E9E; }

.layers-item__symbol--mask {
  color: #E91E63; }

.layers-item__symbol--shape {
  color: #00B9F7; }

.layers-item__symbol--group {
  color: #00E676; }

.layers__group {
  height: auto;
  overflow: hidden; }

.layers__group--collapsed {
  height: 48px; }

.layer-timeline {
  position: relative;
  height: 48px;
  padding: 20px 0;
  margin: 0 24px; }

.layer-timeline--delay {
  margin: 80px 0 160px; }

.layer-timeline--animation .layer-timeline__handle {
  opacity: 1; }

.layer-timeline__handle {
  position: absolute;
  height: 48px;
  width: 48px;
  border-radius: 8px;
  transition: 80ms ease-in all; }
  .layer-timeline__handle:before {
    content: '';
    display: block;
    height: 8px;
    width: 8px;
    border-radius: 50%;
    box-shadow: 0 0 0 4px #00B9F7;
    background: white;
    transition: 80ms ease-in all; }
  .layer-timeline__handle:hover:before {
    box-shadow: 0 0 0 6px #00B9F7;
    background: white; }
  .layer-timeline__handle:active:before {
    box-shadow: 0 0 0 5px #00B9F7;
    background: white; }

.layer-timeline__handle--active:before {
  box-shadow: 0 0 0 4px #00B9F7;
  background: white; }

.layer-timeline__handle--start {
  top: 0;
  left: 0;
  padding: 20px 40px 20px 0; }

.layer-timeline__handle--end {
  top: 0;
  right: 0;
  padding: 20px 0 20px 40px; }

.layer-timeline__bar {
  height: 8px;
  background: #00B9F7;
  border-radius: 4px; }

.layer-timeline__bar--blue {
  background: #00B9F7; }

.layer-timeline__bar--slate {
  background: #5A5F67; }

.header {
  position: relative;
  height: 72px;
  padding: 16px 24px 16px 88px; }

.header__logo {
  position: absolute;
  top: 0;
  left: 0;
  padding: 16px 24px; }
  .header__logo:before {
    content: '';
    display: block;
    background: #8D39FF;
    height: 40px;
    width: 40px;
    border-radius: 4px; }

.button {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  cursor: pointer;
  margin: 0;
  display: block;
  width: 100%;
  max-width: 100%;
  font-size: 14px;
  font-family: "Open Sans", Open-Sans, helvetica, arial;
  font-weight: bold;
  text-align: center;
  border: 2px solid #000;
  outline: none;
  text-decoration: none;
  background: black;
  box-shadow: 0 0 2px black; }
  .button:hover {
    box-shadow: 0 0 2px black; }
  .button:active {
    transform: translateY(1px);
    box-shadow: 0 0 1px black; }
  .button:focus {
    border-color: #00B9F7; }

.button--inline {
  display: inline-block;
  width: auto; }

.button--28 {
  height: 28px;
  font-size: 14px;
  line-height: 24px;
  padding: 2px;
  border-radius: 4px; }

.button--32 {
  height: 32px;
  font-size: 14px;
  line-height: 24px;
  padding: 2px 6px;
  border-radius: 4px; }

.button--36 {
  height: 36px;
  font-size: 14px;
  font-weight: bold;
  line-height: 24px;
  padding: 4px;
  border-radius: 18px; }

.button--40 {
  height: 40px;
  font-size: 14px;
  line-height: 24px;
  padding: 6px 24px;
  border-radius: 20px; }

.button--48 {
  height: 48px;
  line-height: 24px;
  padding: 10px 32px;
  font-size: 16px;
  border-radius: 24px; }

.button--link {
  display: inline-block;
  text-transform: uppercase;
  font-weight: 600;
  color: #00A6DD;
  border-radius: 4px;
  height: 40px;
  line-height: 24px;
  padding: 8px 16px; }
  .button--link:hover {
    background: rgba(0, 0, 0, 0.1);
    border-color: rgba(0, 0, 0, 0.1); }
  .button--link:active {
    background: rgba(0, 0, 0, 0.15);
    border-color: rgba(0, 0, 0, 0.15); }

.button--stone {
  color: white;
  background: #6D7A89;
  border-color: #6D7A89; }
  .button--stone.button--hover, .button--stone:focus, .button--stone:hover {
    background: #7D8896;
    border-color: #7D8896; }
  .button--stone.button--active, .button--stone:active {
    background: #5D6B7C;
    border-color: #5D6B7C; }

.button--blue {
  color: white;
  background: #1AC0F7;
  border-color: #1AC0F7; }
  .button--blue.button--hover, .button--blue:focus, .button--blue:hover {
    background: #33C7F8;
    border-color: #33C7F8; }
  .button--blue.button--active, .button--blue:active {
    background: #00B9F7;
    border-color: #00B9F7; }

.button--purple {
  color: white;
  background: #984DFF;
  border-color: #984DFF; }
  .button--purple.button--hover, .button--purple:focus, .button--purple:hover {
    background: #A360FF;
    border-color: #A360FF; }
  .button--purple.button--active, .button--purple:active {
    background: #8D39FF;
    border-color: #8D39FF; }

.button--pink {
  color: white;
  background: #EC407A;
  border-color: #EC407A; }
  .button--pink.button--hover, .button--pink:focus, .button--pink:hover {
    background: #F06292;
    border-color: #F06292; }
  .button--pink.button--active, .button--pink:active {
    background: #E91E63;
    border-color: #E91E63; }

.button--white {
  color: #424242;
  background: white;
  border-color: #BDBDBD; }
  .button--white:hover {
    background: white;
    border-color: #9E9E9E; }
  .button--white.button--active, .button--white:active {
    background: white;
    border-color: #00B9F7; }

.button--disabled {
  box-shadow: none !important;
  cursor: not-allowed !important;
  color: white !important;
  border-color: #BDBDBD !important;
  background: #BDBDBD !important; }

.button-inner {
  position: relative;
  display: inline-block; }

.button-inner--block {
  display: block; }

.button-inner--icon-after {
  padding-right: 24px; }

.button-inner--icon-before {
  padding-left: 24px; }

.button-inner__text {
  line-height: 24px; }

.button-inner__icon-after {
  position: absolute;
  top: 0;
  right: 0;
  width: 24px;
  height: 24px;
  padding: 4px 0 4px 8px; }

.button-inner__icon-before {
  position: absolute;
  top: 0;
  left: 0;
  width: 24px;
  height: 24px;
  padding: 4px 8px 4px 0; }

/*# sourceMappingURL=public.css.map */