
.toolbar {
  display: flex;
  flex-direction: row;
  height: 88px;
  padding: 0 8px 8px;
  overflow: hidden;
  width: (100%/3);
}
.toolbar--left {justify-content: flex-start;}
.toolbar--right {justify-content: flex-end;}
.toolbar--center {justify-content: center;}



.toolbar__item {
  padding: 0 16px;
}

// toolbar item
.toolbar-item {
  cursor: pointer;
  user-select: none;
  height: 80px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-direction: column;
  &:hover {
    .toolbar-item__icon {
      box-shadow: 0 0 0 2px white;
    }
  }
  &:active {
    .toolbar-item__icon {
      box-shadow: 0 0 0 0 white, inset 0 0 0 2px white;
    }
  }
}

.toolbar-item__icon {
  transition: all 80ms ease-out;
  border-radius: 4px;
  padding: 10px;
  width: 36px;
  height: 36px;
  box-shadow: 0 0 0 0 white;
}

.toolbar-item__icon--blue {background: $color-fluro-blue;}
.toolbar-item__icon--pink {background: $color-fluro-pink;}
.toolbar-item__icon--purple {background: $color-fluro-purple;}

.toolbar-item__text {
  width: 100%;
  font-size: 12px;
  line-height: 24px;
  text-align: center;
  color: white;
}
