// layout
$timelineHeight: 400px;

html {
  height: 100%;
  min-width: 320px;
  background: $color-slate-700;
}

// Layout
.layout {
  position: relative;
  overflow: hidden;
  height: 100%;
  padding: 72px 0;
  background: $color-slate-700;
  color: $color-grey-100;
  //color-stone-400
}


.layout__header {
  position: absolute;
  z-index: 10;
  top: 0;
  left: 0;
  width: 100%;
  height: 72px;
  background: $color-slate-900;
}
.layout__footer {
  position: absolute;
  z-index: 10;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 72px;
  background: $color-slate-900;
}

.layout__artboard {}
.layout__layers {
  position: absolute;
  z-index: 5;
  top: 0;
  left: 0;
  padding: 72px 0;
  width: 800px;
  height: 100%;
  background: $color-slate-700;
}

//--
.layer {
  position: relative;
  padding: 64px 0;
  height: 100%;
  border-right: 1px solid $color-slate-900;
}
.layer__header-detail {
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 64px;
  border-right: 1px solid $color-slate-900;
}
.layer__header-timeline {
  position: absolute;
  top: 0;
  left: 50%;
  width: 50%;
  height: 64px;
}

.layer__content {
  position: absolute;
  top: 64px;
  bottom: 64px;
  left: 0;
  width: 100%;
  overflow-x: hidden;
  overflow-y: auto;

  overflow: hidden;

  border-top: 1px solid $color-slate-900;
  padding: 16px 0;
}


.layer__timeline-options {}
.layer__timeline {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 64px;
  width: 100%;
  border-top: 1px solid $color-slate-900;
  background: $color-slate-500;
}


//--
.layer-header__detail,
.layer-header__timeline {
  float: left;
  width: 50%;
}
.layer-header__timeline {
  border-left: 1px solid $color-slate-900;
}


.header-detail {
  position: relative;
  height: 64px;
  color: $color-grey-100;
  padding: 20px 24px;
}
.header-detail__title {
  color: $color-grey-100;
  font-size: 14px;
  line-height: 24px;
  font-weight: bold;
}
.header-detail__edit {
  position: absolute;
  top: 0;
  right: 0;
  padding: 16px 24px;
}

.header-timeline {
  padding: 16px 24px;
}
.header-timeline__timeline {
  float: left;
  width: 50%;
  padding: 0 4px 0 0;
}
.header-timeline__animations {
  float: left;
  width: 50%;
  padding: 0 0 0 4px;
}



//---
.layer-control {
  cursor: pointer;
  position: relative;
  background: $color-slate-700;
  &:hover {
    background: $color-slate-500;
  }
  &:active {
    background: $color-slate-600;
  }
}
.layer-control__item {
  border-right: 1px solid $color-slate-900;
  width: 50%;
}
.layer-control__timeline {
  position: absolute;
  top: 0;
  right: 0;
  height: 48px;
  width: 50%;
  //background: $color-slate-800;
}

// --
.layers-item {
  padding: 12px 24px;
  line-height: 24px;
  height: 48px;
}


.layers-item--indent-0 {padding-left: 24px;}
.layers-item--indent-1 {padding-left: 40px;}
.layers-item--indent-2 {padding-left: 56px;}
.layers-item--indent-3 {padding-left: 72px;}
.layers-item--indent-4 {padding-left: 96px;}
.layers-item--indent-5 {padding-left: 112px;}
.layers-item--indent-6 {padding-left: 128px;}


.layers-item__chevron,
.layers-item__empty,
.layers-item__symbol {
  float: left;
  width: 16px;
  height: 24px;
  margin: 0 16px 0 0;
  padding: 4px 0;
  color: $color-stone-100;
}
.layers-item__text {
  float: left;
  color: $color-stone-100;
  font-weight: bold;
}
.layers-item__animation {
  float: right;
  width: 16px;
  height: 24px;
  padding: 4px 0;
}

.layers-item__chevron {color: $color-grey-500;}
.layers-item__symbol {color: $color-blue-500;}
.layers-item__animation {color: $color-grey-500;}

.layers-item__symbol--mask {color: $color-pink-500;}
.layers-item__symbol--shape {color: $color-blue-500;}
.layers-item__symbol--group {color: $color-green-500;}



.layers__group {
  height: auto;
  overflow: hidden;
}

.layers__group--collapsed {
  height: 48px;
}



.layer-timeline {
  position: relative;
  height: 48px;
  padding: 20px 0;
  margin: 0 24px;

  // &:hover {
  //   .layer-timeline__handle {
  //     opacity: 1;
  //   }
  // }
}

.layer-timeline--delay {
  margin: 80px 0 160px;
}

.layer-timeline--animation {
  .layer-timeline__handle {
    opacity: 1;
  }
}


//
.layer-timeline__handle {
  position: absolute;
  height: 48px;
  width: 48px;
  border-radius: 8px;
  //opacity: 0;
  transition: 80ms ease-in all;
  &:before {
    content: '';
    display: block;
    height: 8px;
    width: 8px;
    border-radius: 50%;
    box-shadow: 0 0 0 4px $color-blue-500;
    background: white;
    transition: 80ms ease-in all;
  }
  &:hover:before {
    box-shadow: 0 0 0 6px $color-blue-500;
    background: white;
  }
  &:active:before {
    box-shadow: 0 0 0 5px $color-blue-500;
    background: white;
  }
}

.layer-timeline__handle--active {
  &:before {
    box-shadow: 0 0 0 4px $color-blue-500;
    background: white;
  }
}





.layer-timeline__handle--start {
  top: 0;
  left: 0;
  padding: 20px 40px 20px 0;
}
.layer-timeline__handle--end {
  top: 0;
  right: 0;
  padding: 20px 0 20px 40px;
}


.layer-timeline__bar {
  height: 8px;
  background: $color-blue-500;
  border-radius: 4px;
}

.layer-timeline__bar--blue {
  background: $color-blue-500;
}
.layer-timeline__bar--slate {
  background: $color-slate-300;
}
