
// slate colors
$color-slate-100: #9FA7B1; // text only
$color-slate-200: #565D67; // timeline small indent
$color-slate-300: #4D505A; //
$color-slate-400: #313741; //
$color-slate-500: #282C35; //
$color-slate-600: #1F242A; //
$color-slate-700: #171A20; // border dark
//$color-slate-800: #888;
//$color-slate-900: #999;
$color-slate-000: #171A20; // border dark

$color-fluro-blue: #00B9F7;
$color-fluro-purple: #8D3BFC;
$color-fluro-purple-light: #965AFF;
$color-fluro-pink: #E91E63;
$color-fluro-green: #00E676;
$color-fluro-orange: #FFAB00;

// layout
html {
  height: 100%;
  min-width: 320px;
  background: $color-slate-700;
}

// Layout
.layout {
  position: relative;
  overflow-y: hidden;
  min-height: 100%;
  background: $color-slate-600;
  color: $color-slate-100;
}


// Titlebar
.layout__titlebar {
  height: 32px;
  padding: 0 4px;
  background: $color-slate-400;
  box-shadow: inset 0 -1px 0 $color-slate-000;
}


// Toolbar
.layout__toolbar {
  text-align: center;
  height: 88px;
  background: $color-slate-500;
  box-shadow: inset 0 -1px 0 $color-slate-000;
}

// Tabs
.layout__tabs {
  height: 40px;
  background: $color-slate-400;
  box-shadow: inset 0 -1px 0 $color-slate-000;
}

// Stage
.layout__stage {}







// Timeline
.layout__timeline {
  border-top: 1px solid $color-slate-000;
  background: $color-slate-500;
  height: 100px;
}


// Footer
.layout__footer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 0 24px;
  background: white;
  overflow: hidden;
}
