
// layout
.timeline-layout {
  position: relative;
  height: 100%;
  width: 100%;
  padding-top: 32px;
}

.timeline-layout__title {
  position: absolute;
  z-index: 5;
  top: 0;
  left: 0;
  height: 32px;
  width: 100%;
  box-shadow: 0 1px 0 $color-slate-000;
}
.timeline-layout__content {
  overflow-y: scroll;
  max-height: 100%;
}
.timeline-layout__indicator {
  position: absolute;
  z-index: 50;
  pointer-events: none;
  height: 100%;
  left: 400px;
  right: 0;
  top: 0;
}

.timeline-indicator {
  position: relative;
  height: 100%;
  width: 100%;
}

.timeline-indicator__position {
  position: absolute;
  left: 20%;
  width: 10px;
  height: 100%;
}

.indicator {
  position: relative;
  width: 10px;
  height: 100%;
  &:before {
    content: '';
    position: absolute;
    top: 0;
    left: 4px;
    height: 100%;
    width: 1px;
    background: $color-fluro-orange;
    box-shadow: 0 0 0 1px black;
  }
  &:after {
    content: '';
    position: absolute;
    top: -3px;
    left: 2px;
    width: 5px;
    height: 5px;
    border-radius: 5px;
    background: $color-fluro-orange;
    //box-shadow: 0 0 0 1px black;
  }
}


// table
.timeline-table {
  display: table;
  width: 100%;
}
.timeline-table__layers,
.timeline-table__controls,
.timeline-table__timeline {
  background: $color-slate-500;
  height: 100%;
  vertical-align: top;
  display: table-cell;
}
.timeline-table__layers {
    border-right: 1px solid $color-slate-000;
}
.timeline-table__controls {}
.timeline-table__timeline  {
  position: relative;
  border-left: 1px solid $color-slate-000;
}

.timeline-table__layers {
  width:328px;
}
.timeline-table__controls {
  width:72px;
}


// artboard button
.artboard-control {
  position: relative;
  padding: 0 48px;
}
.artboard-control__title {
  padding: 4px 0;
  line-height: 24px;
}
.artboard-control__timing,
.artboard-control__settings {
  position: absolute;
  height: 32px;
  width: 48px;
  padding: 8px 16px;
}
.artboard-control__timing {
  top: 0;
  left: 0;
}
.artboard-control__settings {
  top: 0;
  right: 0;
}


// layer
.layer-svg {
  height: 32px;
  font-size: 14px;
  line-height: 24px;
  padding: 4px 48px;
  border-bottom: 1px solid $color-slate-000;
  background: $color-slate-400;
  margin: 0 0 12px;
}

.layer {}
.layer__item {
  cursor: pointer;
  user-select: none;
  background: $color-slate-500;
  padding: 0 16px;
  &:hover,
  &:active {
    background: $color-slate-400;
  }
}
.layer__item--indent-1 {padding-left: 16px;}
.layer__item--indent-2 {padding-left: 32px;}
.layer__item--indent-3 {padding-left: 48px;}
.layer__item--indent-4 {padding-left: 64px;}
.layer__item--indent-5 {padding-left: 80px;}
.layer__item--indent-6 {padding-left: 96px;}

.layer__styles {
  display: none;
  background: $color-slate-600;
  height: 120px;
}

.layer-item {
  position: relative;
  height: 32px;
  padding: 0 16px 0 40px;
}
.layer-item__expand {
  position: absolute;
  top: 0;
  left: 0;
  padding: 8px 0;
}
.layer-item__icon {
  position: absolute;
  top: 0;
  left: 24px;
  padding: 8px 0;
}
.layer-item__title {
  line-height: 32px;
  padding: 0 8px;
}
.layer-item__style {
  position: absolute;
  top: 0;
  right: 0;
  padding: 8px 0;
}


// controls column
.controls-svg {
  height: 32px;
  background: $color-slate-400;
  border-bottom: 1px solid $color-slate-000;
  margin: 0 0 12px;
}
.controls-layer {
  padding: 4px 12px;
  height: 32px;
}
.controls-layer__button {
  float: left;
  width: 24px;
  height: 24px;
}

.controls-timeline {
  padding: 0 4px;
}
.controls-timeline__button {
  cursor: pointer;
  float: left;
  width: 24px;
  height: 24px;
  padding: 4px;
  opacity: 0.6;
  &:hover,
  &:active {
    opacity: 1;
  }
}

// timeline ruler

.timeline-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  padding: 0 16px;
  width: 100%;
  height: 32px;
  overflow: hidden;
}

.timeline-rule {
  position: relative;
  display: inline-flex;
  float: left;
  height: 32px;
  width: 100px;
  box-shadow: inset 1px 0 0 $color-slate-200;
}
.timeline-rule__text {
  height: 24px;
  line-height: 24px;
  font-size: 10px;
  padding-left: 8px;
}
.timeline-rule__hatch {
  position: absolute;
  bottom: 0;
  width: 1px;
  height: 8px;
  background: $color-slate-300;
}
.timeline-rule__hatch--1 {left:10%;}
.timeline-rule__hatch--2 {left:20%;}
.timeline-rule__hatch--3 {left:30%;}
.timeline-rule__hatch--4 {left:40%;}
.timeline-rule__hatch--5 {left:50%;}
.timeline-rule__hatch--6 {left:60%;}
.timeline-rule__hatch--7 {left:70%;}
.timeline-rule__hatch--8 {left:80%;}
.timeline-rule__hatch--9 {left:90%;}






// timeline column
.timeline-svg {
  height: 32px;
  background: $color-slate-400;
  border-bottom: 1px solid $color-slate-000;
  margin: 0 0 12px;
}

.timeline-layer {
  height: 32px;
  padding: 12px 16px;
  &:before {
    content: '';
    display: block;
    height: 8px;
    width: 8px;
    border-radius: 8px;
    background: $color-fluro-blue;
  }
}
