
.tabs-list {

}
.tabs-list__tab {
  cursor: pointer;
  user-select: none;
  float: left;
  width: 200px;
  height: 40px;
  color: $color-slate-100;
  font-size: 14px;
  line-height: 24px;
  padding: 8px 0;
  text-align: center;
  background: $color-slate-400;
  box-shadow: inset 0 -1px 0 $color-slate-000;
  border-right: 1px solid $color-slate-000;
  &:hover {
    background: $color-slate-300;
    color: white;
  }
  &:active {
    background: $color-slate-500;
    color: white;
  }
}
.tabs-list__tab--active {
  box-shadow: inset 0 2px 0 0 $color-fluro-purple;
  background: $color-slate-500;
  color: white;
  &:hover,
  &:active {
    color: white;
    background: $color-slate-500;
  }
}
