
.stage {
  position: relative;
  overflow: hidden;
  //height: 800px;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: $color-slate-600;
}
.stage__ruler-vertical {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
}
.stage__ruler-horizontal {
  position: absolute;
  top: 0;
  right: 0;
  left: 20;
  overflow: hidden;
}
.stage__ruler-corner {
  position: absolute;
  top: 0;
  left: 0;
  width: 24px;
  height: 24px;
  background: $color-slate-600;
  box-shadow: 1px 0 0 $color-slate-200, inset 0 -1px 0 $color-slate-200;
}


// highlight
.stage__ruler-highlight-vertical {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 24px;
  overflow: hidden;
}
.stage__ruler-highlight-horizontal {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 24px;
  overflow: hidden;
}

.ruler-highlight-horizontal {
  background: $color-slate-400;
  width: 800px;
  height: 24px;
}

.ruler-highlight-vertical {
  background: $color-slate-400;
  width: 24px;
  height: 600px;
}

.stage__artwork {
  box-shadow: $shadow-200;
}

.artwork {
  width: 800px;
  height: 600px;
  border: 1px solid $color-fluro-purple-light;
  background: $color-fluro-purple;
}


// ruler
.ruler {
  transition: all 200ms ease-out;
  overflow: hidden;
  z-index: 11;
  white-space: nowrap;
}
.ruler--horizontal {
  display: inline-flex;
  height: 24px;
  padding-left: 24px;
}
.ruler--vertical {
  width: 24px;
  padding-top: 24px;
}


// horizontal segment
.rule-horizontal {
  display: block;
  flex-shrink: 0;
  height: 24px;
  width: 100px;
  position: relative;
  box-shadow: inset 1px 0 0 $color-slate-200;
}
.rule-horizontal__text {
  height: 24px;
  line-height: 16px;
  font-size: 10px;
  padding-left: 8px;
}
.rule-horizontal__hatch {
  position: absolute;
  bottom: 0;
  width: 1px;
  height: 8px;
  background: $color-slate-300;
}
.rule-horizontal__hatch--1 {left:10%;}
.rule-horizontal__hatch--2 {left:20%;}
.rule-horizontal__hatch--3 {left:30%;}
.rule-horizontal__hatch--4 {left:40%;}
.rule-horizontal__hatch--5 {left:50%;}
.rule-horizontal__hatch--6 {left:60%;}
.rule-horizontal__hatch--7 {left:70%;}
.rule-horizontal__hatch--8 {left:80%;}
.rule-horizontal__hatch--9 {left:90%;}

// vertical segment
.rule-vertical {
  position: relative;
  display: block;
  height: 100px;
  width: 24px;
  box-shadow: inset 0 -1px 0 $color-slate-200;
}
.rule-vertical__text {
  position: absolute;
  bottom: -24px;
  left: 0;
  height: 24px;
  line-height: 16px;
  font-size: 10px;
  padding-left: 8px;
  transform: rotate(-90deg);
  transform-origin: 0 0;
}
.rule-vertical__hatch {
  position: absolute;
  right: 0;
  width: 8px;
  height: 1px;
  background: $color-slate-300;
}
.rule-vertical__hatch--1 {top:10%;}
.rule-vertical__hatch--2 {top:20%;}
.rule-vertical__hatch--3 {top:30%;}
.rule-vertical__hatch--4 {top:40%;}
.rule-vertical__hatch--5 {top:50%;}
.rule-vertical__hatch--6 {top:60%;}
.rule-vertical__hatch--7 {top:70%;}
.rule-vertical__hatch--8 {top:80%;}
.rule-vertical__hatch--9 {top:90%;}
