//----------------
// button creation
//----------------

.button {
  @include noselect;
  @include nowrap;
  cursor: pointer;
  margin: 0;
  display: block;
  width: 100%;
  max-width: 100%;
  font-size: 14px;
  font-family: $font-family;
  font-weight: bold;
  text-align: center;
  border: 2px solid #000;
  outline: none;
  text-decoration: none;
  background: black;
  box-shadow: 0 0 2px black;
  &:hover {
    box-shadow: 0 0 2px black;
  }
  &:active {
    transform: translateY(1px);
    box-shadow: 0 0 1px black;
  }
  &:focus {
    border-color: $color-blue-500;
  }
}

.button--inline {
  display: inline-block;
  width: auto;
}

// sizes
//--28
.button--28 {
  height: 28px;
  font-size: 14px;
  line-height: 16px;
  padding: 4px;
  border-radius: 4px;
}

//--32
.button--32 {
  height: 32px;
  font-size: 14px;
  line-height: 16px;
  padding: 6px;
  border-radius: 4px;
}

//--36
.button--36 {
  height: 36px;
  font-size: 14px;
  font-weight: bold;
  line-height: 24px;
  padding: 4px;
  border-radius: (36px/2);
}
//--40
.button--40 {
  height: 40px;
  font-size: 14px;
  line-height: 24px;
  padding: 6px 24px;
  border-radius: (40px/2);
}

//--48
.button--48 {
  height: 48px;
  line-height: 24px;
  padding: 10px 32px;
  font-size: 16px;
  border-radius: (48px/2);
}




// mixins
@mixin button-color ($standard,$hover,$active) {
  color: white;
  background: $standard;
  border-color: $standard;
  &.button--hover,
  &:focus,
  &:hover {
    background: $hover;
    border-color: $hover;
  }
  &.button--active,
  &:active {
    background: $active;
    border-color: $active;
  }
}

@mixin button-color-stroke ($standard,$light,$dark) {
  color: $dark;
  background: transparent;
  border-color: $standard;
  &.button--hover,
  &:focus,
  &:hover {
    color: $dark;
    background: rgba(white,0.2);
    border-color: $standard;
  }
  &.button--active,
  &:active {
    color: $dark;
    border-color: $dark;
  }
}


// colors
//--link
.button--link {
  display: inline-block;
  text-transform: uppercase;
  font-weight: 600;
  color: $color-blue-600;
  border-radius: 4px;
  height: 40px;
  line-height: 24px;
  padding: 8px 16px;
  &:hover {
    background: rgba(black,0.1);
    border-color: rgba(black,0.1);
  }
  &:active {
    background: rgba(black,0.15);
    border-color: rgba(black,0.15);
  }
}


.button--stone {
  @include button-color (
    $color-stone-400,
    $color-stone-300,
    $color-stone-500
  );
}

.button--blue {
  @include button-color (
    $color-blue-400,
    $color-blue-300,
    $color-blue-500
  );
}

.button--purple {
  @include button-color (
    $color-purple-400,
    $color-purple-300,
    $color-purple-500
  );
}

.button--pink {
  @include button-color (
    $color-pink-400,
    $color-pink-300,
    $color-pink-500
  );
}


//--white
.button--white {
  color: $text-black;
  background: white;
  border-color: $color-grey-400;
  &:hover {
    background: white;
    border-color: $color-grey-500;
  }
  &.button--active,
  &:active {
    background: white;
    border-color: $color-blue-500;
  }
}



//--disabled
.button--disabled {
  box-shadow: none!important;
  cursor: not-allowed!important;
  color: white!important;
  border-color: $color-grey-400!important;
  background: $color-grey-400!important;
}


// button inner template
.button-inner {
  position: relative;
  display: inline-block;
}
.button-inner--block {
  display: block;
}
.button-inner--icon-after {
  padding-right: 24px;
}
.button-inner--icon-before {
  padding-left: 24px;
}

.button-inner__text {
  line-height: 24px;
}
.button-inner__icon-after {
  position: absolute;
  top: 0;
  right: 0;
  width: 24px;
  height: 24px;
  padding: 4px 0 4px 8px;
}
.button-inner__icon-before {
  position: absolute;
  top: 0;
  left: 0;
  width: 24px;
  height: 24px;
  padding: 4px 8px 4px 0;
}
