// ----
// Colors
// ----

// Specific
$color-background-transparent: rgba(#212121,0.9);
$color-black: #212121;

// text colors
$text-grey: #616161;
$text-black: #424242;
$text-white: #ffffff;
$text-red: #F44336;
$text-pink: #E91E63;

// shadows
$shadow-100:0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
$shadow-200:0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
$shadow-300:0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
$shadow-400:0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
$shadow-500:0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);

// ----
// Material Colors
// ----

// Grey
$color-grey-050: #FAFAFA;
$color-grey-100: #F5F5F5;
$color-grey-200: #EEEEEE;
$color-grey-300: #E0E0E0;
$color-grey-400: #BDBDBD;
$color-grey-500: #9E9E9E;
$color-grey-600: #757575;
$color-grey-700: #616161;
$color-grey-800: #424242;
$color-grey-900: #212121;

// Pink
$color-pink-050: #FCE4EC;
$color-pink-100: #F8BBD0;
$color-pink-200: #F48FB1;
$color-pink-300: #F06292;
$color-pink-400: #EC407A;
$color-pink-500: #E91E63;
$color-pink-600: #D81B60;
$color-pink-700: #C2185B;
$color-pink-800: #AD1457;
$color-pink-900: #880E4F;

// Blue
$color-blue-050: #E3F2FD;
$color-blue-100: #BBDEFB;
$color-blue-200: #90CAF9;
$color-blue-300: #64B5F6;
$color-blue-400: #42A5F5;
$color-blue-500: #2196F3;
$color-blue-600: #1E88E5;
$color-blue-700: #1976D2;
$color-blue-800: #1565C0;
$color-blue-900: #0D47A1;

// Green
$color-green-050: #E8F5E9;
$color-green-100: #C8E6C9;
$color-green-200: #A5D6A7;
$color-green-300: #81C784;
$color-green-400: #66BB6A;
$color-green-500: #4CAF50;
$color-green-600: #43A047;
$color-green-700: #388E3C;
$color-green-800: #2E7D32;
$color-green-900: #1B5E20;

// Purple
$color-purple-050: #F3E5F5;
$color-purple-100: #E1BEE7;
$color-purple-200: #CE93D8;
$color-purple-300: #BA68C8;
$color-purple-400: #AB47BC;
$color-purple-500: #9C27B0;
$color-purple-600: #8E24AA;
$color-purple-700: #7B1FA2;
$color-purple-800: #6A1B9A;
$color-purple-900: #4A148C;


// -- VANIMATOR PALLETE


// slate colors
$color-slate-100: #83878D;
$color-slate-200: #6F737B;
$color-slate-300: #5A5F67;
$color-slate-400: #464B55;
$color-slate-500: #313742;
$color-slate-600: #2C313B;
$color-slate-700: #272C34;
$color-slate-800: #22262E;
$color-slate-900: #1D2127;
$color-slate-000: #181B20;

// stone
$color-stone-100: #9DA6B0;
$color-stone-200: #8D97A3;
$color-stone-300: #7D8896;
$color-stone-400: #6D7A89;
$color-stone-500: #5D6B7C;
$color-stone-600: #53606F;
$color-stone-700: #4A5563;
$color-stone-800: #404A56;
$color-stone-900: #37404A;
$color-stone-000: #2E353D;

// blue
$color-blue-100: #66D5FA;
$color-blue-200: #4DCEF9;
$color-blue-300: #33C7F8;
$color-blue-400: #1AC0F7;
$color-blue-500: #00B9F7;
$color-blue-600: #00A6DD;
$color-blue-700: #0094C5;
$color-blue-800: #0081AC;
$color-blue-900: #006F94;
$color-blue-000: #005C7B;

// purple
$color-purple-100: #BA88FF;
$color-purple-200: #AF74FF;
$color-purple-300: #A360FF;
$color-purple-400: #984DFF;
$color-purple-500: #8D39FF;
$color-purple-600: #7E33E5;
$color-purple-700: #702DCC;
$color-purple-800: #6227B2;
$color-purple-900: #542299;
$color-purple-000: #461C7F;

// pink
$color-pink--100: #F178A1;
$color-pink--200: #EF6192;
$color-pink--300: #ED4B82;
$color-pink--400: #EB3472;
$color-pink--500: #E91E63;
$color-pink-600: #D11A58;
$color-pink-700: #BA184F;
$color-pink-800: #A21445;
$color-pink-900: #8B123B;
$color-pink-000: #740E31;

// green
$color-green-100: #66F0AC;
$color-green-200: #4DED9F;
$color-green-300: #33EB91;
$color-green-400: #1AE883;
$color-green-500: #00E676;
$color-green-600: #00CE69;
$color-green-700: #00B85E;
$color-green-800: #00A052;
$color-green-900: #008A46;
$color-green-000: #00723A;
